html {
  background-color: white;
}

body {
  color:#edc525
}

h2 {
    color: blue;
}
h3{
    color: red;
	margin: 5px;
	color: #3eff0e;
	background: linear-gradient(to right,rgb(227, 118, 118),#edc525);
}

li{
    color: green;
}