p {
	color: blue;
}

h1 {
	color: yellow;
	background-color: white;
	text-shadow: 1px 1px 10px navy;
    border-bottom: 3px dashed purple;
    font-size: 2rem;
}


h2 {
    color: red;
	margin: 5px;
	font-family: cursive;
	color: #3eff0e;
	background: linear-gradient(to right,rgb(227, 118, 118),#edc525);
}
p.special{
    color: red;
}